<script type="text/ng-template" id="demodata.html">
 <div class="slds-col--padded slds-size--1-of-1 ng-scope">
   <ng-form name="loopform"
     class="slds-form-element vlc-flex vlc-form-group vlc-slds-remote-action--button ng-pristine ng-valid ng-scope"
     ng-repeat="control in child.eleArray">
       <div class="slds-form-element__control">
         <div class="vlc-control-wrapper">
           <div  id='{{::control.name}}'
                 class="vlc-slds-button--tertiary ng-binding ng-scope"
                 title='{{::control.propSetMap.label}}'
                 ng-click="buttonClick(this.bpTree.response, control, this)"
                 style="font-style: italic; font-size: smaller; cursor: pointer; text-align: right;">{{::control.propSetMap.label}}</div>
         </div>
       <div class="vlc-sub-block"></div>
     </div>
   </ng-form>
 </div>
</script>